PORT=5000
FRONTEND_URL=http://localhost:5173
NODE_ENV=development

#credentials

MONGO_URI=

JWT_SECRET=

EMAIL_USER=
EMAIL_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
